{% extends '_shared/_layout.twig' %}

{% block main %}


  <section class="c-productdetail">
    {% import '_macros/images.twig' as img %}

    <div class="container">
      <div class="row g-4">
        <div class="col-12 col-lg-3">
          <div class="c-productdetail__btn">
            <a href="/shop" class="c-btn">Back to Overview</a>
          </div>
        </div>

        <div class="col-12 col-lg-4">
          <div class="c-productdetail__imgs">
            {{ img.responsiveImage(product.productPhotos, {
              aspectRatio: '9:14',
              quality: 80,
              transformHandle: 'img2Webp',
              onlyFirst: false
            }) }}
          </div>
        </div>

        <div class="col-12 col-lg-5">
          <div class="c-productdetail__info">
            <div class="c-productdetail__title">
              {% include '_components/_subtitle.twig' with {
                title: product.collection.one().title ?? '',
                description: product.title ?? '',
                additionalClasses: 'c-shop__title'
              } %}
              <p class="c-productdetail__price">{{ product.defaultPrice|commerceCurrency }}</p>

              {% if product.defaultVariant %}
                <form method="post">
                  {{ csrfInput() }}
                  {{ actionInput('commerce/cart/update-cart') }}
                  <input aria-label="productId" type="hidden" name="purchasableId"
                         value="{{ product.defaultVariant.id }}" />
                  <input aria-label="Quantity" type="hidden" name="qty" value="1" step="1" min="1">
                  <button class="c-btn">Add item</button>
                </form>
              {% else %}
                <p>This product is currently unavailable for purchase.</p>
              {% endif %}
            </div>

            <div class="c-productdetail__table">
              <p class="c-productdetail__description">{{ product.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
