{% import '_macros/images.twig' as img %}

<section class="c-feature container">
  <div class="c-feature__description">
    {% set title = section.title|kebab %}
    <h2>{{ section.title }}</h2>
    <a class="c-btn" href="{{ section.collection.url }}?collection={{ title }}">{{ section.collection.label }}</a>
  </div>

  <div class="c-feature__imgs">
    {{ img.responsiveImage(section.featured, {
      aspectRatio: '1:1',
      quality: 80,
      transformHandle: 'img2Webp'
    }) }}
  </div>
</section>