{% set cart = craft.commerce.carts.cart %}

<!-- Cart Button -->
<button class="js-open-cart c-cart__button">
  <i class="c-navbar__menuicon fa-solid fa-{{ icon }}"></i>
  {% if cart.totalQty is not null and cart.totalQty > 0 %}
    <span class="c-cart__totall">{{ cart.totalQty }}</span>
  {% endif %}
</button>

<!-- Offcanvas Cart -->
<div class="c-cart js-canvas">
  <div class="c-cart__header">
    <i class="c-navbar__menuicon fa-solid fa-{{ icon }}"></i>
    <button class="js-close-cart">
      <i class="c-navbar__menuicon fa-solid fa-xmark"></i>
    </button>
  </div>
  {% if cart.totalQty is not null and cart.totalQty > 0 %}

    <div class="c-cart__body">
      <ul>
        {% if cart.lineItems| length >= 1 %}


          {% for lineItem in cart.lineItems %}
            <li>
              ({{ lineItem.qty }}) {{ lineItem.snapshot.title }} -
              {{ lineItem.subtotal|commerceCurrency }}
            </li>
          {% else %}
            <li>Your cart is empty.</li>
          {% endfor %}
        {% endif %}
      </ul>

      <hr>

      <p>
        <strong>Qty:</strong> {{ cart.totalQty ?? 0 }}<br>
        <strong>Total:</strong> {{ cart.totalPrice | commerceCurrency }}
      </p>

      <a href="/shipping" class="c-btn">Pay Now</a>

    </div>
  {% else %}
    <p class="c-cart__no">Er zijn geen producten in het winkelmandje</p>
  {% endif %}
</div>

<!-- Overlay -->
<div class="js-overlay c-cart__overlay u-hidden"></div>