{% set commerce = craft.commerce %}
{% set cart = commerce.carts.cart %}
{% set gateway = commerce.gateways.getGatewayByHandle('mollie') %}
{% set paymentMethods = gateway.fetchPaymentMethods() %}
{% set returnUrl = url('checkout/success') %}
{% set cancelUrl = url('checkout/payment') | hash %}

<!-- Cart Button -->
<button class="js-open-cart c-cart__button">
  <i class="fa-solid fa-{{ icon }}"></i>
  {% if cart.totalQty is not null and cart.totalQty > 0 %}
    <span class="c-cart__totall">{{ cart.totalQty }}</span>
  {% endif %}
</button>

<!-- Offcanvas Cart -->
<div class="c-cart js-canvas">
  <div class="c-cart__header">
    <i class="fa-solid fa-{{ icon }}"></i>
    <button class="js-close-cart">&times;</button>
  </div>

  <div class="c-cart__body">
    <ul>
      {% for lineItem in cart.lineItems %}
        <li>
          ({{ lineItem.qty }}) {{ lineItem.sku }} -
          {{ lineItem.subtotal|commerceCurrency }}
        </li>
      {% else %}
        <li>Your cart is empty.</li>
      {% endfor %}
    </ul>

    <hr>

    <p>
      <strong>Qty:</strong> {{ cart.totalQty ?? 0 }}<br>
      <strong>Total:</strong> {{ cart.totalPrice | commerceCurrency }}
    </p>

    <form method="post">
      {{ csrfInput() }}
      {{ actionInput('commerce/payments/pay') }}
      {{ redirectInput('success') }}
      <input type="hidden" name="gatewayId" value="{{ gateway.id }}">
      <input type="hidden" name="amount" value="{{ cart.totalPrice }}">
      <input type="hidden" name="currency" value="{{ cart.currency }}">
      <input type="hidden" name="orderNumber" value="{{ cart.number }}">
      <input type="hidden" name="returnUrl" value="{{ returnUrl }}">
      <input type="hidden" name="cancelUrl" value="{{ cancelUrl }}">

      <button class="c-btn" type="submit">Pay Now</button>
    </form>

  </div>
</div>

<!-- Overlay -->
<div class="js-overlay c-cart__overlay u-hidden"></div>