{% extends '_shared/_layout.twig' %}

 {% block main %}
   {% set orders = craft.orders()
     .isCompleted(true)
     .orderBy('dateOrdered DESC')
     .all() %}

   {% if orders|length %}
     <h1>Your Completed Orders</h1>
     <section>
       <ul>
         {% for order in orders %}
           <li>
             <strong>Order #{{ order.number }}</strong> – {{ order.totalPrice | commerceCurrency }}
             <ul>
               {% for item in order.lineItems %}
                 <li>
                   ({{ item.qty }}) {{ item.sku }} – {{ item.subtotal | commerceCurrency }}
                 </li>
               {% endfor %}
             </ul>
           </li>
         {% endfor %}
       </ul>
     </section>
   {% else %}
     <p>No completed orders found.</p>
   {% endif %}
 {% endblock %}
