{% set segments = craft.app.request.pathInfo | trim('/') | split('/') | filter(v => v) %}

<nav class="c-breadcrumbs container">
  <ul>
    <li class="c-breadcrumbs__item">
      {% if segments | length == 0 %}
        <p>Home</p>
      {% else %}
        <a href="{{ siteUrl }}">Home</a>
      {% endif %}
    </li>

    {% set currentPath = '' %}

    {% if segments | length >= 1 %}
      {% for segment in segments %}
        {% set currentPath = currentPath ~ '/' ~ segment %}

        <i class="fa-solid fa-{{ breadcrumbs.arrow }}"></i>
        <li class="c-breadcrumbs__item">
          {% if loop.last %}
            <p>{{ segment | replace('-', ' ') | title }}</p>
          {% else %}
            <a href="{{ url(currentPath) }}">{{ segment | replace('-', ' ') | title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</nav>